<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../static/style2.css">
</head>
<body>
    <div class="navbar">
        <ul>
            <li class="item"><a href="/">Home</a></li>
            <li class="item"><a href="/About">About</a></li>
            <li class="item"><a href="/Services">Services</a></li>
            <li class="item"><a href="/Contact">Contact</a></li>
        </ul>
        <div class="header"> 
            <h1>UFFC GYM KORBA</h1>
        </div>
    </div>
    <div class="main">
        <header>
            <h1>About Our Gym</h1>
        </header>
    
        <section>
            <h2>Our Mission</h2>
            <p>We are committed to promoting a healthy lifestyle by providing top-notch fitness facilities and programs. Our mission is to
                inspire and empower individuals to achieve their fitness goals and lead a balanced and active life.</p>
        </section>
    
        <section>
            <h2>Our Facilities</h2>
            <p>Our gym is equipped with state-of-the-art fitness equipment, spacious workout areas, and experienced trainers. Whether
                you are a beginner or an experienced fitness enthusiast, we have the tools and support you need to succeed.</p>
        </section>
    
        <section>
            <h2>Trainers</h2>
            <p>Our team of certified trainers is dedicated to helping you reach your fitness potential. They provide personalized
                training programs, nutritional guidance, and continuous motivation to ensure your success on your fitness journey.</p>
        </section>
    
        <section>
            <h2>Contact Us</h2>
            <p>Feel free to reach out to us if you have any questions or if you would like to schedule a tour of our facilities.
                We are here to assist you in achieving your fitness goals.</p>
            <p>Email: atikurrehman000786@gmail.com</p>
            <p>Phone: (+91) 9098677153</p>
        </section>
    </div> 
    <footer>
        Near Sharda Vihar Raliway Crossing
        Shrada Vihar,Korba
         495677  @All copy-rights are reserve
    </footer>
</body>
</html>