<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UFFC GYM Korba</title>
    <link rel="stylesheet" href="../static/style1.css">
</head>
<body>

    <div class="navbar">
        <ul>
            <li class="item"><a href="/">Home</a></li>
            <li class="item"><a href="/About">About</a></li>
            <li class="item"><a href="/Services">Services</a></li>
            <li class="item"><a href="/Contact">Contact</a></li>
        </ul>
        <div class="header"> 
            <h1>UFFC GYM KORBA</h1>
        </div>
    </div>
    <div class="main">
        <div class="discription">
        </div>
        <div class="img1"></div>
        <div class="img2"></div>
        </div>
        <footer>
            Near Sharda Vihar Raliway Crossing
            Shrada Vihar,Korba
             495677  @All  copy-rights are reserve
        </footer>
     
</body>
</html>