<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="../static/style3.css">
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/About">About</a></li>
            <li><a href="/Services">Services</a></li>
            <li><a href="/Contact">Contact</a></li>
        </ul>
        <div class="header"> 
            <h1>UFFC GYM KORBA</h1>
        </div>
    </div>
      <div class="main">
    <header>
        <h1>Our Gym Services</h1>
    </header>
   
    <section>
        <h2>Personal Training</h2>
        <p>Get one-on-one training sessions with our certified trainers to achieve your fitness goals faster.</p>
    </section>

    <section>
        <h2>Group Classes</h2>
        <p>Join our exciting group classes, including yoga, spinning, and high-intensity interval training (HIIT).</p>
    </section>

    <section>
        <h2>Cardio Area</h2>
        <p>Access our state-of-the-art cardio equipment to improve cardiovascular health and burn calories.</p>
    </section>

    <section>
        <h2>Strength Training</h2>
        <p>Build muscle and increase strength with our wide range of weightlifting equipment and machines.</p>
    </section>

    <section>
        <h2>Sauna and Spa</h2>
        <p>Relax and rejuvenate in our sauna and spa facilities after an intense workout session.</p>
    </section>

    <section>
        <h2>Nutrition Counseling</h2>
        <p>Receive personalized nutrition advice and meal plans from our expert dietitians.</p>
    </section>
    <div>
    <footer>
        Near Sharda Vihar Raliway Crossing
        Shrada Vihar,Korba
         495677  @All copy-rights are reserve
    </footer>
</body>
</html>